{% render 'partials/head.liquid' %}

<header>
    <nav>
    <ul class="nav-bar">
        <li >
            <img class="qatar-logo" src="assets/Qatar-museums-Logo (2).png" alt="Qatar museums logo">
        </li>

        <li class="nav-links">
            <a href="">{{ "stories" |  prepend: 'قــصـص' | upcase }}</a> 
        </li>        
        <li class="nav-links">
            <a href="">ماهوالجديد<br>
               {{ "what's on" |  upcase }}</a>
        </li>        
        <li class="nav-links">
            <a href="">الـمـجـمـوعــة<br>
            {{ "collection" |  upcase }}</a>
        </li>        
        <li class="nav-links">
            <a href="">زيـارة<br>
            {{ "visit" |  upcase }}</a>
        </li>    
        
        <li class="nav-links">
            <a href=""> {{ "tickets" |  upcase }}</a>
        </li>

        <li class="nav-links">
            <a href=""> {{ "members" |  upcase }}</a>
        </li>

        <li class="nav-links">
            <a href="">{{  "Venues" |  upcase}}</a>
        </li>

        <button class="menu-button"> {{ "menu" |  upcase }}</button>
    </ul>
    </nav>
</header>

     <ul class="card-container">  
        {% for artwork in artworks %}
            <li class="">
                <a href="/object/{{ artwork.id }}">
                <div class="image-card">
                <img class="image" src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}" alt="">
                </div>
                </a>
            </li>
          {% endfor %}
      </ul> 
          {% render 'partials/foot.liquid' %}
